<html lang='en'>

<head>
  <meta charset='UTF-8' />
  <meta http-equiv='X-UA-Compatible' content='IE=edge' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <title>Home</title>
  <style>
    .main {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 100px;
      border: 1.5px solid black;
      border-radius: 10px;
      padding: 10px 0;
    }

    img {
      width: 50%;
      height: 50%;
    }

    a {
      text-decoration: none;
      padding: 5px;
      color: black;
      border: 2px solid black;
      border-radius: 5px;
    }
  </style>
</head>

<body>
  <div class='main'>
    <div class='container'>
      <img src='https://cdn-icons-png.flaticon.com/512/25/25231.png' alt='github' />
      <h1>Login Using Github</h1>
      <a href='https://github-integration-nestjs.herokuapp.com/login'>Login</a>
    </div>
  </div>
</body>

</html>